@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap')

:root{ /*не работает :(   |   P.S я писал var(--"name")*/
	/*main color*/
	--color-bg: #f6f7fb;
	--color-text-main: #fff;
	--color-text-light: #666;
	--color-main: #1E95AE; /*<--*/
}
/*main style*/

html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Red Hat Display", sans-serif;
	background:  rgb(17, 22, 24); /*MAIN BG COLOR*/
}

a{
	text-decoration: none;
}


ul{
	list-style: none;
}

img{
	width: 100%;
}

.nav__container{
	position: relative;
	z-index: 5;
	max-width: 80rem;
	padding: 0 4rem;
	margin: 0 auto;
	background: #1E95AE; /*color-bg main*/
}

.main__block{
  	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	display: flex;
	background: #222b34;
	align-items: center;
	max-width: 80rem;
	height: 100vh;
	z-index: 1;
	margin-bottom: 10px; /*отступы от блоков*/
	border-radius: 10px;
	color: #fff;
}

.main__content{
	padding-top: 85px; /*отступ от nvabar*/
}

/*END style*/

/*header*/
header{
	width: 100%;
	position: fixed;
	background-color: #1E95AE; /*color-bg main*/
	z-index: 10;
}
nav{
	width: 100%;
	position: relative;
	z-index: 500;
	background: rgb(30, 149, 174);
}
nav .nav__container{
	display: flex;
	justify-content: space-between;
	height: 65px;
	align-items: center;
}
.nav__logo{
	width: 50px;
	height: 150px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.nav__logo img{
	border-radius: 50%;
}

.nav__list{
	display: flex;
}

.nav__list li a{
	display: inline-block;
	padding: .9rem 1.2rem;
	font-size: 1.05rem;
	color: #fff; /*color-text main*/
	font-weight: 500;
	line-height: 1;
	border: 25px;
}

.nav__list li a:hover{
	background: #22ABC9; /*hover-color-bg main*/
}

.media li a:hover{
	background:#fff;
	color: #22ABC9;
	border-radius: 7px;
}

.drowinfo ul{
	position: absolute;
	background: #7d7f7d;
	z-index: 100;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	text-align: left;
}
.drowinfo li:hover ul#drowinfo{
	opacity: 1;
	visibility: visible;
}

.media{
	border-radius: 5px;
	align-items: center;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	background: #22ABC9;
}

/*FOOOOOTER ^D^*/
footer{
	width: 100%;
	height: 15rem;
	background: #333;
	margin-top: 10%;
	justify-content: center;
	align-items: center;
}